/*----------------------------------Variables----------------------------------*/
$mono: "Space Mono", monospace; 
$borel: "Borel", cursive;

$bg-color: #18181b;
$letters-color: #fff;
$color-2: #1d4ed8;
$color-3: #27272a;